/* This section is for the content */
.content-div{
    height: 120%;
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top:50px ;
    display: flex;
    justify-content: space-evenly;
    
}

/* syllabus */
.syllabus-div{
    background-color: rgb(255,255,255);
    flex:1;
    /* text-align: center; */
}

/* chat-div */
.chat-div{
    background-color: pink;
    flex:1;
    text-align: center;
}